/* globals */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content:'';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

/* header */

.header-container{
  width: 100%;
  height: 550px;
  background:  #0C325A;
  padding: 0 10%;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 108% 100%;
}

/* header nav */

.header-nav{
  height: 80px;
  color: white;
  line-height: 80px;
  overflow: hidden;
}

.header-logo{
  width: 15%;
  margin-top: 10px;

}

.header-nav.center{
  width: 45%;
}

.header-nav.right{
  width: 40%;
}

/* .header-nav ul li{
  padding-right: 2%;
} */

.header-nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* menu nav */

.center-menu li{
  margin: 0 10px;
}

.center-menu li{
  float: left;
}

.right-menu li{
  padding-right: 20px;
}

.center-menu, .right-menu{
  list-style: none;
}

/* buttons*/

.nav-item.btn{
  border: 1px solid white;
  padding: 15px 40px;
  border-radius: 10px;
}

.nav-item.btn-green{
  background: #7CBB04;
  border: #7CBB04;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.title-btn{
  color: white;
  margin-top: 15%;

}

.title-btn h1{
  margin-bottom: 80px;
}

.nav-item.btn-large{
  padding: 30px 30px;
  border-radius: 10px;
}

/* main */

/* first section */
.bar{
  position:relative;
  width:100%;
  background: #CCCCCE;
  height:200px;
}

.text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p{
  color: #858585;
  margin-top: 10px;
}

/* /first section */

/* second section */

.info{
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
}

.container{
  width:33.3%;
}

.container img{
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container h2{
  text-align:center;
  color: #86C016;
  margin-bottom: 10px;
  min-height: 70px;
}

.container hr{
  display: block;
  margin: auto;
  width: 100px;
  margin-bottom: 30px;
}

.container p{
  text-align:center;
  color: #969696;
  padding: 0 20%;
}

.info2{
  margin-top: 70px;
}
.info3{
  margin-top: 20px;
}

/* third section */

.mountain{
  padding-top: 50px;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.mountain img{
  width: 50%;
}

.text-mountain{
  float: right;
  width: 50%;
  padding-left: 10%;
  padding-top: 10%;
}

.mountain p{
  color: #858585;
}

.mountain a{
  color:#5586BC;
}

/* piano */

.piano{
  background-color: #D3D3D3;
  height: 200px;
  width: 100%;
  padding: 0 10%;
}

.piano h2{
  font-size: 2em;
  line-height: 200px;
  display: inline-block;
}

/* parte right del footer */ 

.piano-right{
  display: inline-block;
  line-height: 200px;
  color:#848484;
}

.seleziona{
  border-bottom: 1px solid #848484;
  display: inline;
  font-size: 1.2em;
}

.sono{
  display: inline;
}

.piano-right .sono{
  padding-right: 30px;
}

.piano-right .btn-green .btn-large{
  margin-left: 100px;
}

.seleziona i{
  padding-left: 100px;
}

.piano-right .nav-item.btn-green.btn-large{
  margin-left: 40px;
}

/* scopri */

.scopri{
  width: 100%;
  padding: 0 10%;
  margin-top: 50px;
}

.scopri img{
  width: 50%;
}

.text-scopri{
  width: 50%;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
}
.text-scopri h2{
  font-size: 1.5rem;
}

.text-scopri p{
  color: #858585;
  text-transform: uppercase;
}

.scopri-btn{
  background-color: #7CBB04;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  width:40%;
  display: inline-block;
}

.scopri .text-scopri span{
  display: inline-block; 
  width: 50%;
  line-height: 30px;
  font-size: 1.2rem;
  color: #A8C4D2;
}

/* ci trovi */

.ci-trovi{
  width: 100%;
  padding: 0 10%;
  height: 600px;
  text-align: center;
  margin-top: 200px;

}

.ci-trovi img{
  width: 50%
}

.ci-trovi h2{
  margin-bottom: 10px;
}
.ci-trovi p{
  color:#858585;
}
.ci-trovi p:first-of-type{
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.ci-trovi p:last-of-type{
  margin-bottom:15px;
}

.ci-trovi h2 span{
  color: #7CBB04;
}

.ci-trovi a{
  color: #5586BC;
}

/* info4 */

.info4{
  padding: 10% 70% 0 10%;
  width: 100%;
  background-color: #0C325A;
  height: 700px;
  margin-top: 100px;
}

.info4 h2{
  color: white;
  font-size: 2em;
  line-height: 50px;
  margin-bottom: 15%;
}

.info4 p{
  color: #858585;
  line-height: 1.7em;
  margin-bottom: 15%;
}

.info4 a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  padding: 20px 30px;
  background-color: #7CBB04;
  border-radius: 10px;
}

/* info5 */

.info5{
  padding: 0 20%;
  width: 100%;
  background-color: red;
  height: 700px;
}

.info5 .title-str h2{
  text-align:center;
  padding-top: 5%;
}

.chi{
  background-color: blue;
  height: 60%;
  margin-top: 5%;
}

.studente, .professionista, .azienda{
  background: orchid;
  border: 1px solid black;
  width: 33%;
  height: 100%;
  padding-right: 5%;
}


.studente img{
  width: 20%;
  margin-bottom: 20px;
}
.professionista img{
  width: 20%;
  margin-bottom: 20px;
}
.azienda img{
  width: 20%;
  margin-bottom: 20px;
}

.studente h2{
  font-size: 2rem;
  margin-bottom:20px;
}

.professionista h2{
  font-size: 2em;
}


.studente p{
  line-height: 25px;
}